<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

			$('search_product').autocomplete({
				source : function(request, response) {
					$.ajax({
						url : "invoice/load-products/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item){
								return {
									value: item.id,
									label: item.firstName,
									price: item.price,
								};
							}));
						},
					});
				}
			select: function(event, ui){
				$("#search_product").val(ui.item.label);
				return false;
			}
			});
		});
	</script>

</body>
</html>