<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="#{title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/view/' + ${invoice.client.id}}"
						th:text="'&laquo; back'"></a>
				</h4>

				<form action="@{/invoice/form/}" th:object="${invoice}"
					method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Client'"></label>
						<div class="col-sm-6">
							<input
								th:value="${invoice.client.firstName} + ' ' + ${invoice.client.lastName}"
								class="form-control" disabled='disabled' />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Description'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{description}" class="form-control" />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Observation'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observation}" class="form-control"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:field="${title}"
								class="btn btn-secondary" />
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>