<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header bg-dark text-white" th:text="${title}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{'/view/' + ${invoice.client.id}}"
						class="btn btn-secondary btn-sm" th:utext="#{text.global.volver}"></a>
						<a class="btn btn-success btn-sm float-right mx-2"
						th:href="@{'/invoice/view/' + ${invoice.id}(format=xls)}">XLS</a>
					<a class="btn btn-danger btn-sm float-right mx-2"
						th:href="@{'/invoice/view/' + ${invoice.id}(format=pdf)}">PDF</a>
				</h4>

				<ul class="list-group py-3">
					<li class="list-group-item list-group-item-primary"
						th:text="#{text.factura.ver.datos.cliente}"></li>
					<li class="list-group-item" th:text="${invoice.client}"></li>
					<li class="list-group-item" th:text="${invoice.client.email}"></li>
				</ul>

				<ul class="list-group py-2">
					<li class="list-group-item list-group-item-success"
						th:text="#{text.factura.ver.datos.factura}"></li>
					<li class="list-group-item"
						th:text="#{text.cliente.factura.folio} + ': ' + ${invoice.id}"></li>
					<li class="list-group-item"
						th:text="#{text.cliente.factura.descripcion} + ': ' + ${invoice.description}"></li>
					<li class="list-group-item"
						th:text="#{text.cliente.factura.fecha} + ': ' + ${invoice.createAt}"></li>
				</ul>

				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(invoice.items)}"
					th:text="#{text.factura.ver.no.lineas} +  ' ' + ${invoice.description}"></div>

				<table th:if="${not #lists.isEmpty(invoice.items)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th th:text="#{text.factura.form.item.nombre}">Product</th>
							<th th:text="#{text.factura.form.item.precio}">Price</th>
							<th th:text="#{text.factura.form.item.cantidad}">Amount</th>
							<th th:text="#{text.factura.form.item.total}">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="line: ${invoice.items}">
							<td th:text="${line.product.name}"></td>
							<td th:text="${line.product.price}"></td>
							<td th:text="${line.amount}"></td>
							<td th:text="${line.calculateImport()}"></td>
						</tr>
					</tbody>

				</table>

				<h5 class="text-right pr-4">
					<span th:text="#{text.factura.form.total}">Final Total </span>
					:
					<span th:text="${invoice.total}" class="badge badge-secondary"></span>
				</h5>

				<div class="card border-info m-4" style="max-width: 20rem;">
					<div class="card-header" th:text="#{text.factura.form.observacion}">Observation</div>
					<div class="card-body">
						<p class="card-text" th:text="${invoice.observation}"
							th:if="${not #strings.isEmpty(invoice.observation)}"></p>
						<h4 class="card-title"
							th:text="#{text.factura.ver.no.observaciones}"
							th:if="${#strings.isEmpty(invoice.observation)}"></h4>
					</div>
				</div>

				<a th:href="@{'/view/' + ${invoice.client.id}}"
					class="btn btn-secondary btn-sm" th:utext="#{text.global.volver}"></a>
			</div>



		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>