<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">

			<div class="card-header">Error: Acceso Denegado</div>
			<div class="card-body">

				<h5 class="card-title">
					Los sentimos <span th:text="${#authentication.name}"></span>,
					NO tienes permisos para accecder a este recurso
				</h5>
				<a th:href="@{/list}" class="btn btn-outline-light" role="button">Ir
					a Inicio</a>

			</div>


		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>