<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>

<body>

  <header th:replace="layout/layout :: header"></header>

  <div class="container py-4">
    <div class="card bg-light">
      <div class="card-header bg-primary text-white" th:text="${title}"></div>
      <div class="card-body">
      
      					<a class="btn btn-secondary btn-sm mb-4"
						th:href="@{'/list'}"
						th:utext="#{text.global.volver}"></a>

        <div th:object="${client}" th:remove="tag">
          <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${client}" method="post" enctype="multipart/form-data">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.cliente.nombre}">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{firstName}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.cliente.apellido}">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{lastName}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.cliente.email}">Email</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.cliente.createAt}">Fecha</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{createAt}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label" th:text="#{text.cliente.foto}">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control"/>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="#{text.cliente.guardar}"
								class="btn btn-success" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>