<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin my-3 shadow p-3 mb-5 bg-white">
					<div class="card-body">
						<h5 class="card-title text-center mb-3"
							th:text="#{text.login.titulo}">Sign In</h5>
							<p class="text-center">HINT: admin | 12345</p>

						<form class="form-signin" th:action="@{/login}" method="post">
							<div class="md-form mb-5 ">
								<input type="text" name="username" id="username"
									class="form-control" placeholder=" " required /> <label
									for="username" class="control-label"
									th:text="#{text.login.username}"></label>
							</div>

							<div class="md-form mb-4">
								<input type="password" name="password" id="password"
									class="form-control" placeholder=" " required /> <label
									for="password" th:text="#{text.login.password}"></label>
							</div>

							<div class="custom-control custom-checkbox ml-2 mb-4">
								<input type="checkbox" class="custom-control-input mr-3"
									id="customCheck"> <label class="custom-control-label"
									for="customCheck" th:text="#{text.login.recordar}"></label>
							</div>

							<button
								class="btn btn-lg btn-primary btn-block text-uppercase mt-4"
								type="submit" th:text="#{text.login.boton}"></button>
								
							<div class="form-group">
								<a href="/" th:href="@{/signup}"
									class="btn btn-lg btn-outline-primary btn-block text-uppercase mt-2"
									th:text="#{text.login.signup}"></a>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>

	<script type="text/javascript">
		var input = $("input[type=text], input[type=password]");

		input.bind('keyup focusin', function(element, i) {
			$(this).siblings('label').addClass('active');
			input.on("blur", function() {

				if ($(this).val() !== "") {
					$(this).next().addClass('active');
				} else {
					$(this).next().removeClass('active');
				}

			})
		});
	</script>

</body>

</html>