<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success btn-sm"
								th:href="@{'/invoice/form/' + ${client.id}}" th:text="'create invoice'"></a>
				</h4>

				<img th:if="${#strings.length(client.photo) > 0}"
					class="imt-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${client.photo}}" th:alt="${client.photo}">

				<ul class="list-group">
					<li class="list-group-item" th:text="${client.firstName}"></li>
					<li class="list-group-item" th:text="${client.lastName}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createAt}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(client.invoices)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas asignadas para el cliente ' + ${client.firstName} + ' ' + ${client.lastName}"></div>
				<table th:if="${not #lists.isEmpty(client.invoices)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>page</th>
							<th>description</th>
							<th>date</th>
							<th>total</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">view</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">delete</th>
					</thead>
					<tbody>
						<tr th:each="invoice: ${client.invoices}">
							<td th:text="${invoice.id}"></td>
							<td th:text="${invoice.description}"></td>
							<td th:text="${invoice.createAt}"></td>
							<td th:text="${invoice.total}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-sm" th:href="@{'/invoice/view/' + ${invoice.id}}" th:text="'detail'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-sm" th:href="@{'/invoice/delete/' + ${invoice.id}}" th:text="'delete'"
							onclick="return confirm('Estas seguro que desea eliminar la factura?');"></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>